.calculator {
  height: 300px; /* Altura ajustada */
  width: 300px; /* Largura ajustada */
  
 
border-radius: 10px; /* Borda arredondada aumentada */
  overflow: hidden; /* Esconde elementos fora do limite */

  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 colunas iguais */
  
 
grid-gap: 5px; /* Espaçamento entre os elementos */
  padding: 10px; /* Espaçamento interno aumentado */
}
