@font-face {
  font-family: "Roboto Mono";
  src: url(./fonts/RobotoMono-Thin.ttf);
}

* {
  font-family: "Roboto Mono", Courier, monospace;
}
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: rgb(241, 222, 44);
  background: linear-gradient(to right, rgba(114, 30, 150, 0.818), rgba(231, 232, 240, 0.952));
}
